.page3{
    margin: 0;
    padding: 0;
    height: 100svh;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.page3-slider{
    height: 90%;
    width: 100%;
    /* background-color: rgb(199, 199, 199); */
    position: relative;
}



/* .parent::before{
    content: "";
    height: 100%;
    width: 80%;
    background-color: rgb(99, 97, 97);
    transform: skew(-10deg);
    position: absolute;
    left: 0px;
    transition: all 2s linear;
} */

/* .parent:hover::before{
    left: -700px;
} */

.page3-slider1{
    height: 100%;
    width: 80%;
    transform: skew(-10deg);
    background-color: gray;
    position: absolute;
    left: 0px;
    transition: all 2s linear;
}

.page3-slider1:hover{
    left: -700px;
}

.page3-slider2{
    height: 100%;
    width: 80%;
    transform: skew(-10deg);
    background-color: #B6B6B6;
    position: absolute;
    left: -100px;
    transition: all 2s linear;
}

.page3-slider2:hover{
    left: -600px;
}

@media only screen and (max-width:800px)
{
    .page3{
        display: none;
        /* background-color: #F4F4F4; */
    }
}