.page6{
    height: fit-content;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: sans-serif;
}

.page6-main{
    height: fit-content;
    width: 100%;
    /* background-color: white; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: black;      */
}

.page6-img{
    height: fit-content;
    width: 350px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: antiquewhite; */
}

.page6-img>img{
    height: 300px;
    width: 300px;
}

.page6-right{
    height: fit-content;
    width: 750px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: blue; */
}

.page6-head{
    height: fit-content;
    width:70%;
    /* background-color: aqua;   */
    font-size: 2.2rem;
    font-weight: bolder;
}

.page6-para{
    height: fit-content;
    width: 70%;
    font-size: 1.1rem;
    color: #868383;
}

.page6-buttons{
    height: fit-content;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content:space-between;
    align-items: center;
    /* background-color: aqua; */
}

.p6-button{
    height: 40px;
    width: 145px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:12px;
    font-size: 1.3rem;
    
}

.p6-button:hover{
    background-color:  #C30000;
}

/* .p6-download{
    height: fit-content;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    row-gap: 20px;
} */
.download{
    height: 55px;
    width: 200px;
    color: black;
    border: 2px solid  #C30000;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}



